.colorInsight {
  max-height: 30rem;
  overflow: scroll;
}

.colorInsightParagraph {
  background-color: #f8f9fa;
  min-height: 1.4rem;
  line-height: 2rem;
}

.colorInsightWord {
  background-color: #dae8f5;
  border-radius: 0.5rem;
  padding: 0rem 0.3rem;
  margin-right: 0.2rem;
  min-width: 0.5rem;
  min-height: 1.4rem;
}

.colorInsightDelimiter {
  background-color: #bd8cea;
  border-radius: 0.5rem;
  padding: 0rem 0.3rem;
  margin-right: 0.2rem;
  min-width: 0.5rem;
  min-height: 1.4rem;
}
